.homepageCarousel ul li {
    padding: 0 2.5rem;
}

.homepageCarousel button {
    background-color: var(--theme-colors-primaryBlue);
    z-index: 50;
}

.homepageCarousel button:hover {
    background-color:var(--theme-colors-primaryBlue);
}