.yellowHeader {
    color: var(--primaryYellow);
}

.newsLetterSection {
    margin: 4rem 0rem;
}

.newsLetterHeader {
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.bannerGrid {
    border-top: solid 2px var(--alternateGrey);
    border-bottom: solid 2px var(--alternateGrey);
    margin: 8rem 0rem;
    padding: 4rem 0rem;
}

.bannerGrid > div {
    display: grid;
    grid-gap: 4rem;
}

.bannerGrid > div img {
    max-width: 100%;
}

.trendingList {
    display: grid;
}

.trendingList article {
    border-bottom: solid 2px var(--alternateGrey);
    padding: 2rem 0;
}

.moreNews {
    margin-top: 4rem;
    text-align: right;
}

.moreNews a {
    color: var(--primaryYellow);
    font-weight: 600;
    font-size: 1.8rem;
}

.moreNews a span {
    display: inline-block;
    transition: all .2s ease;
}

.moreNews a:hover span {
    transform: translateX(.5rem);
}

@media (min-width: 768px) {
    .bannerGrid > div {
        grid-template-columns: 1fr 1fr;
    }
}